<div class="landing">
  <div class="image">
    <img src="assets/logo.png" alt="">
  </div>
  <div class="hero">
    <div class="left">
      <p class="big">Petal<span>Poetry</span> - When Flowers Speak for You.</p>
      <p class="desc">We don't just collect flowers - we collect moods. Each bouquet tells a story: about love, care, gratitude or simply "I thought of you".</p>
      <button routerLink="/login">Shop Now</button>
    </div>
    <div class="right">
      <img src="assets/tulip1.png" alt="">
    </div>
  </div>
</div>
