.main{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

.left{
  width: 40%;
}
.logo2{
  width: 40%;
}
.product{
  display: flex;
  align-items: center;
}
.info{
  margin-left: 50px;
  color: #4A202A;
}
.product img{
  width: 40%;
}

.items{
  font-size: x-large;
  color: #4A202A;
  font-weight: 700;
}

.apply-btn {
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  background: linear-gradient(90deg, #C3325B, #E1708D);
  color: white;
  font-size: medium;
  border-radius: 50px;
  cursor: pointer;
}

.apply-btn:hover {
  background: #C3325B;
}

.right{
  width: 40%;
}
.check{
  border: 1px solid #4A202A;
}
.top{
  background: linear-gradient(90deg, #C3325B, #E1708D);
  padding-left: 30px;
  color: white;
  padding-top:20px;
  padding-bottom: 10px;
  font-size: x-large;
  font-weight: 300;
}

.summary{
  margin-top: 30px;
  padding-left: 30px;
  color: #4A202A;
}
.summary1{
  font-size: x-large;
  font-weight: 600;
}
.subtotal{
  padding-left: 20px;
}

.total{
  margin-top: 40px;
  border-top: 1px solid #4A202A;
  font-size: x-large;
  font-weight: 600;
  padding-top: 10px;
}


.continue{
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  border: 1px solid #4A202A;
  color: #4A202A;
  font-size: medium;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 50px;
}

.continue:hover{
  background-color: #4A202A;
  color: white;
}
.buy{
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  background: linear-gradient(90deg, #C3325B, #E1708D);
  color: white;
  font-size: medium;
  border-radius: 50px;
  cursor: pointer;
}

.buy:hover {
  background: #C3325B;
}